include ../products/form2

mixin form(url, method, quoter)
    form(method=method, action=url)
        if quoter
            .mb-3
                label.form-label.text-light(labelfor='quantity') Cantidad: 
                input.form-control(type='number', name='quantity', id='quantity') 
            .mb-3
                +form2(`/products/${product._id}?_method=PATCH`, 'POST', product)
        else
            .mb-3
                +form2('/products/', 'POST')