mixin form3(url, method, user)
    
        if quoter
            .mb-3
                label.form-label.text-light(labelfor='logo') Seleccionar Logo: 
                input.form-control(type='image', name='logo', id='logo')
            .mb-3 
                input.form-control(type='text', name='name', id='name', placeholder='Nombre y Apellido / Empresa')
            .mb-3
                label.form-label.text-light(labelfor='email') Email: 
                input.form-control(type='text', name='email', id='email', value='')
            .mb-3
                button.fw-bold.btn.btn-secondary.bg-secondary.text-light(type='submit') Editar 
        else
            .mb-3
                label.form-label.text-light(labelfor='logo') Seleccionar Logo: 
                input.form-control(list='datalistExample', name='logo', id='logo')
                datalist(id='datalistExample')
                    option(value='San Francisco')
                    option(value='New York')
                    option(value='Seattle')
                    option(value='Los Angeles')
                    option(value='Chicago')
            .mb-3
                label.form-label.text-light(labelfor='name') Nombre o Empresa: 
                input.form-control.text-center(type='text', name='name', id='name', placeholder='Nombre y Apellido / Empresa')
            .mb-3
                label.form-label.text-light(labelfor='logo') Correo electronico: 
                input.form-control.text-center(type='text', name='email', id='email', placeholder='Correo electronico')
            .mb-3
                label.form-label.text-light.required(labelfor='password') Vigencia:
                textarea.form-control.text-center(type='text', name='validityPeriod', id='validityPeriod') VIGENCIA DE COTIZACION DE 15 DIAS.
            .mb-3
                label.form-label.text-light.required(labelfor='iva') IVA:
                textarea.form-control.text-center(type='text', name='iva', id='iva') COTIZACION CON IVA NO INCLUIDO.
            .mb-3
                label.form-label.text-light.required(labelfor='currency') Moneda:
                textarea.form-control.text-center(type='text', name='currency', id='currency') EL IMPORTE DE ESTA COTIZACION ESTA CONTEMPLADO EN MONEDA NACIONAL MEXICANA.
            .mb-3
                .d-grid.gap-2
                    button.fw-bold.btn.btn-lg.btn-block.bg-success.text-light(type='submit') Agregar nueva condicion 
            .mb-3
                .row
                    .col-5.text-sm-center.text-md-start.align-self-center
                        button.fw-bold.btn.btn-lg.btn-block.btn-primary.bg-primary.text-light(onclick='MakePDF()') Crear
                    .col-7.text-sm-center.text-md-start.align-self-center
                        button.fw-bold.btn.btn-lg.btn-block.btn-warning.bg-warning.text-dark(type='submit') Reiniciar Condiciones
