extends ../layout
include ./form
include ./form3 

block content
    .container.my-5
        .d-grid.gap-2
            h1.h7.fw-bold.align-self-center.col-12.text-dark Cotizador
        form.d-md-flex.d-sm-block.justify-content-between(method='GET', action='/quoters/')
            input(type='hidden' name='command' value='select-orders')
            h1.h5.fw-bold.align-self-center.col-3.text-dark Buscar Producto
            .btn-group.align-self-center.col-12.col-sm-12.col-md-8.col-lg-6
                select.btn.btn-outline-dark.col-3.col-sm-3.bg-dark.text-light(name='searchType')
                    option(value='productName') Nombre
                    option(value='productPrice') Precio
                input.col-6.col-sm-6(type='search' name='searchBy', id='searchBy')
                input.btn.btn-outline-dark.col-3.col-sm-3.bg-dark.text-light.p-2.rounded-3(value='Buscar', onclick='BusTabla()')
        .d-md-flex.d-none.justify-content-md-between.justify-content-sm-center.align-content-center.border-bottom.border-2.my-2.bg-dark.text-secondary.p-3.rounded-3
            .col-2.text-sm-center.text-md-start.align-self-center
                h1.h4.fw-bold Cantidad
            .col-6.align-self-center.text-md-start.align-self-center
                h1.h4.fw-bold Producto
            .col-2.align-self-center.text-md-start.align-self-center
                h1.h4.fw-bold Precio
            .col-2.align-self-center.text-md-start.align-self-center 
        .d-md-flex.d-sm-block.justify-content-md-between.justify-content-sm-center.text-center.border-bottom.border-2.my-2.bg-dark.p-2.rounded-3
            .d-md-flex.d-sm-block.justify-content-md-between.justify-content-sm-center.text-center.border-bottom.border-2.my-2.bg-dark.p-2.rounded-3
                .col-2 
                    input.form-control(type='number', value=1, id='number') 
                .col-6
                    input.form-control(type='text', name='addname', id='name')
                .col-2
                    input.form-control(type='number', name='addprice', id='price')      
                .mb-3
                    .col-2
                        button.fw-bold.btn.btn-primary.bg-primary.text-light(onclick='AgTabla()') Agregar 
    .container.my-5
        .shadow-4.rounded-3.overflow-hidden
            table.table.align-middle.mb-0 
                thead.bg-dark.text-secondary.rounded-3  
                    tr 
                        th 
                            h1.h4.fw-bold.mb-1 Cantidad
                        th 
                            h1.h4.fw-bold.mb-1 Nombre
                        th 
                            h1.h4.fw-bold.mb-1 Descripcion
                        th 
                            h1.h4.fw-bold.mb-1 Precio
                tbody.bg-dark.text-light(id='table')
                    tr 
                        td 
                        td 
                            p.fw-bold.mb-0  
                        td 
                            p.fw-bold.mb-0  
                        td 
                            p.fw-bold.mb-0  
                tfoot.bg-dark.text-light.rounded-3  
                    tr 
                        td
                            h1.h4.fw-bold.mb-1 Total
                        td
                        td
                        td(id='tableTotal')
                            h1.h4.fw-bold.mb-1 $
        .d-grid.gap-2
            input.fw-bold.btn.btn-primary.btn-lg.btn-block.bg-primary.text-light.p-2.rounded-3(type='submit', data-bs-toggle='modal', data-bs-target='#myModal', value='Descargar cotizacion')
            #myModal.modal
                .modal-dialog
                    .modal-content.bg-dark
                            .modal-header.bg-primary
                                h5.fw-bold.align-self-center.modal-title.text-light Crear cotizacion
                                button.h4.btn-close.bg-danger(type='button' data-bs-dismiss='modal')
                            .modal-body(id='modal')
                                +form3('/quoters/', 'GET')
                            .modal-footer
                                button.fw-bold.btn.btn-lg.btn-block.bg-danger.text-light(type='submit', data-bs-dismiss='modal') Cancelar
block scripts
    script(src='/js/quoters_list.js', crossorigin='anonymous')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
    script(src='/js/PDF.js', crossorigin='anonymous')
    