doctype html
html
  head
    title= title
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  body.bg-dark(class="vh-100")
    block content
      if password
        .alert.alert-danger.alert-dismissible.fade.show Usuario o contraseña incorrectos!! Por favor vuelve a intentarlo.
          button.btn-close(data-bs-dismiss='alert')
            span &times;
      
      .container.py-5.h-100
        .row.d-flex.justify-content-center.align-items-center.h-100
          .col-sm-12.col-sm-12.col-md-8.col-lg-6.col-xl-5
            .card.shadow-2-strong(style='border-radius: 1rem;')
              .card-body.p-5.text-center  
                form(action="/login", method="POST", style="background-color: white")
                    h3.mb-5 Inicio de sesion
                    .form-outline.mb-4
                      label.form-label(labelfor="email") Correo electronico: 
                      input.form-control.form-control-lg(id="email", type="text", name="email")
                    .form-outline.mb-4
                      label.form-label(labelfor="password") Contraseña: 
                      input.form-control.form-control-lg(id="password", type="password", name="password")
                    .form-check.d-flex.justify-content-start.mb-4
                      input.form-check-input(id="checkbox", type="checkbox", value="") 
                      label.form-check-label(labelfor="recordatorio") Recordar contraseña
                    input.btn.btn-primary.btn-lg.btn-block.bg-primary.text-light.rounded-3.active(type="submit", value="Iniciar sesion") 
    block scripts 
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
