doctype html
html
  head
    title= title
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    script(src="/modules/jspdf/dist/jspdf.umd.min.js")
    script(src="/modules/html2canvas/dist/html2canvas.js")
  body.bg-light(class="vh-100")
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container-fluid
        a.navbar-brand JlIndustrial
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo02.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='/home') Principal
            li.nav-item
              a.nav-link(href='/users/') Usuarios
            li.nav-item
              a.nav-link(href='/products/') Productos
            li.nav-item
              a.nav-link(href='/quoters/') Cotizador
          form.d-flex(role='search')
            a.btn.btn-outline-light(type='submit', href='/') Cerrar Sesion
    block content
    block scripts 
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')