extends ../layout 
include ./form

block content
    .container.my-5
        .shadow-4.rounded-3.overflow-hidden
            .col-12.text-sm-center.text-md-end.align-self-center
                a.fw-bold.btn.btn-lg.btn-block.bg-danger.text-light.shadow-lg(href="/users/home") Cancelar
            h2.h2.fw-bold.text-dark.text-center Editar usuario
            +form(`/users/${user._id}?_method=PATCH`, 'POST', user)