mixin form(url, method, user)
    form(method=method, action=url)
        if user
            .container.py-4.h-100
                .row.d-flex.justify-content-center.align-items-center.h-100
                    .col-sm-12.col-sm-12.col-md-8.col-lg-6.col-xl-5
                        .card.shadow-2-strong.bg-dark(style='border-radius: 1rem;')
                            .card-body.p-4.text-center  
                                .form-outline
                                    .form-outline.mb-4 
                                        label.h4.fw-bold.form-label.text-light(labelfor='name') Nombre: 
                                        input.form-control(type='text', name='name', id='name', value=user.name)
                                    .form-outline.mb-4 
                                        label.h4.fw-bold.form-label.text-light(labelfor='lastName') Apellido: 
                                        input.form-control(type='text', name='lastName', id='lastName', value=user.lastName)
                                    .form-outline.mb-4
                                        label.h4.fw-bold.form-label.text-light(labelfor='email') Email: 
                                        input.form-control(type='text', name='email', id='email', value=user.email)
                                .form-outline
                                    button.fw-bold.btn.bg-warning.btn-lg.btn-block.text-dark(type='submit') Editar 
        else
            .container.py-4.h-100
                .row.d-flex.justify-content-center.align-items-center.h-100
                    .col-sm-12.col-sm-12.col-md-8.col-lg-6.col-xl-5
                        .card.shadow-2-strong.bg-dark(style='border-radius: 1rem;')
                            .card-body.p-4.text-center  
                                .form-outline
                                    .form-outline.mb-3
                                        label.h4.fw-bold.form-label.text-light(labelfor='name') Nombre:
                                        input.form-control(type='text', name='name', id='name')
                                    .form-outline.mb-3
                                        label.h4.fw-bold.form-label.text-light(labelfor='lastName') Apellido:
                                        input.form-control(type='text', name='lastName', id='lastName')
                                    .form-outline.mb-3
                                        label.h4.fw-bold.form-label.text-light(labelfor='email') Correo electronico:
                                        input.form-control(type='email', name='email', id='email')  
                                    .form-outline.mb-3
                                        label.h4.fw-bold.form-label.text-light(labelfor='password') Contraseña:
                                        input.form-control(type='', name='password', id='password')       
                                .form-outline
                                        button.fw-bold.btn.bg-primary.btn-lg.btn-block.text-dark(type='submit') Agregar