extends ../layout
include ./form

block content
    .container.my-5
        .shadow-4.rounded-3.overflow-hidden
            h1.h7.fw-bold.align-self-center.col-12.text-dark Usuarios
            table.table.align-middle.mb-0 
                thead.bg-dark.text-secondary 
                    tr 
                        th 
                            h1.h4.fw-bold.mb-1 Nombre
                        th 
                            h1.h4.fw-bold.mb-1 Apellido
                        th 
                            h1.h4.fw-bold.mb-1 Correo electronico
                        th 
                            a.fw-bold.btn.btn-block.bg-primary.text-light(href="/users/blank") + Usuario
                tbody.bg-dark.text-light
                    each user in users.docs
                        tr 
                            td 
                                p.fw-bold.mb-0  #{user._name} 
                            td 
                                p.fw-bold.mb-0  #{user._lastName}
                            td 
                                p.fw-bold.mb-0  #{user._email}
                            td
                                .row
                                    .col-md-3.text-sm-center.text-md-start.align-self-center.my-2 
                                        a.fw-bold.btn.btn-block.bg-warning(href=`/users/edit/${user._id}`) Editar
                                    .col-md-3.text-sm-center.text-md-start.align-self-center.my-2 
                                        form(method='POST', action=`/users/${user._id}?_method=DELETE`)
                                            input.fw-bold.btn.btn-block.bg-danger(type='submit', value='Eliminar')
                tfoot.bg-secondary
                    tr 
                        td 
                            a.fw-bold.btn.bg-dark.text-light(href="/users/1") Primera
                        if users.hasPrevPage
                            td 
                                a.fw-bold.btn.bg-dark.text-light(href=`/users/${users.prevPage}`) Anterior
                        if users.hasNextPage
                            td 
                                a.fw-bold.btn.bg-dark.text-light(href=`/users/${users.nextPage}`) Siguiente
                        td 
                            a.fw-bold.btn.bg-dark.text-light(href=`/users/${users.totalPages}`) Ultima