mixin form(url, method, product)
    form(method=method, action=url)
        if product
            .container.py-4.h-100
                .row.d-flex.justify-content-center.align-items-center.h-100
                    .col-sm-12.col-sm-12.col-md-8.col-lg-6.col-xl-5
                        .card.shadow-2-strong.bg-dark(style='border-radius: 1rem;')
                            .card-body.p-4.text-center  
                                .form-outline
                                    .form-outline.mb-4 
                                        label.h4.fw-bold.form-label.text-light(labelfor='name') Nombre: 
                                        input.form-control(type='text', name='name', id='name', value=product.name)
                                    .form-outline.mb-4 
                                        label.h4.fw-bold.form-label.text-light(labelfor='price') Precio: 
                                        input.form-control(type='number', name='price', id='price', value=product.price)
                                .form-outline.mb-4 
                                    label.h4.fw-bold.form-label.text-light(labelfor='description') Descripcion: 
                                    textarea.form-control(type='text', name='description', id='description') #{product._description}          
                                .form-outline
                                    button.fw-bold.btn.bg-warning.btn-lg.btn-block.text-dark(type='submit') Editar 
        else
            .container.py-4.h-100
                .row.d-flex.justify-content-center.align-items-center.h-100
                    .col-sm-12.col-sm-12.col-md-8.col-lg-6.col-xl-5
                        .card.shadow-2-strong.bg-dark(style='border-radius: 1rem;')
                            .card-body.p-4.text-center  
                                .form-outline
                                    .form-outline.mb-4 
                                        label.h4.fw-bold.form-label.text-light.required(labelfor='name') Nombre: 
                                        input.form-control(type='text', name='name', id='name')
                                    .form-outline.mb-4  
                                        label.h4.fw-bold.form-label.text-light.required(labelfor='price') Precio: 
                                        input.form-control(type='number', name='price', id='price')
                                    .form-outline.mb-4 
                                        label.h4.fw-bold.form-label.text-light(labelfor='description') Descripcion: 
                                        textarea.form-control(type='text', name='description', id='description') 
                                .form-outline
                                        button.fw-bold.btn.bg-primary.btn-lg.btn-block.text-dark(type='submit') Agregar 