mixin form2(url, method, product)
    form(method=method, action=url)
        if product
            .mb-3
                label.form-label.text-light(labelfor='name') Nombre: 
                input.form-control(type='text', name='searchname', id='name', value=product.name)
            .mb-3
                label.form-label.text-light(labelfor='price') Precio: 
                input.form-control(type='number', name='price', id='price', value=product.price)
            .mb-3
                button.fw-bold.btn.btn-secondary.bg-secondary.text-light(type='submit') Editar 
        else
            .d-md-flex.d-sm-block.justify-content-md-between.justify-content-sm-center.text-center.border-bottom.border-2.my-2.bg-dark.p-2.rounded-3
                .col-2 
                    input.form-control(type='number', value=1, id='number') 
                .col-6
                    input.form-control(type='text', name='addname', id='name')
                .col-2
                    input.form-control(type='number', name='addprice', id='price')      
                .mb-3
                    .col-2
                        button.fw-bold.btn.btn-primary.bg-primary.text-light(onclick='AgTabla()') Agregar 
