extends ../layout
include ./form

block content
    .container.my-5
        .shadow-4.rounded-3.overflow-hidden
            h1.h7.fw-bold.align-self-center.col-12.text-dark Productos
            table.table.align-middle.mb-0 
                thead.bg-dark.text-secondary.rounded-3  
                    tr 
                        th 
                            h1.h4.fw-bold.mb-1 Nombre
                        th 
                            h1.h4.fw-bold.mb-1 Descripcion
                        th 
                            h1.h4.fw-bold.mb-1 Precio
                        th 
                            a.fw-bold.btn.btn-block.bg-primary.text-light(href="/products/blank") + Producto
                tbody.bg-dark.text-light
                    each product in products
                        tr 
                            td 
                                p.fw-bold.mb-0  #{product._name} 
                            td 
                                p.fw-bold.mb-0  #{product._description}
                            td 
                                p.fw-bold.mb-0  $ #{product._price}
                            td
                                .row
                                    .col-md-3.text-sm-center.text-md-start.align-self-center.my-2 
                                        a.fw-bold.btn.btn-block.bg-warning(href=`/products/edit/${product._id}`) Editar
                                    .col-md-3.text-sm-center.text-md-start.align-self-center.my-2 
                                        form(method='POST', action=`/products/${product._id}?_method=DELETE`)
                                            input.fw-bold.btn.btn-block.bg-danger(type='submit', value='Eliminar')
                tfoot.bg-secondary
                    tr 
                        td 
                            a.fw-bold.btn.bg-dark.text-light(href="/products/1") Primera
                        if products.hasPrevPage
                            td 
                                a.fw-bold.btn.bg-dark.text-light(href=`/products/${products.prevPage}`) Anterior
                        if products.hasNextPage
                            td 
                                a.fw-bold.btn.bg-dark.text-light(href=`/products/${products.nextPage}`) Siguiente
                        td 
                            a.fw-bold.btn.bg-dark.text-light(href=`/products/${products.totalPages}`) Ultima